extends layouts/login-layout.pug

block content
    .loginContainer
        h3 Change Password
        form#changepassword(method="post", onsubmit="event.preventDefault(); validateForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="logUsername", placeholder="Username or email" required="")

            p Security question


            input(type="password", name="answer", placeholder="newpassword" required="")
            input(type="password", name="answer", placeholder="confirm newpassword" required="")

            input(type="submit", value="submit")